# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.bmp
*.bmp
*.pcd
*.jpg
*.dll
*.aps
*.oni
*.vcxproj
*.user
*.filters
*.ui
*.rc
*.qrc
*.pdb
OpenNI.ini
*.xml
*.yml
*.jar
*.ply
*.obj
*.log
*.tlog
*.res
OpenNI2/
Debug/
MyProject/
default_project/
GeneratedFiles/
New folder/project.ini
*.tfm